{% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasificacion de frutas</title>

    <style type="text/css">
        body {
                background-image: url(https://previews.123rf.com/images/jchizhe/jchizhe1510/jchizhe151000568/47237862-frutas-frescas-en-el-fondo-de-madera-fondo-de-verano-marco-de-la-alimentaci%C3%B3n-cruda-y-vegetariana-rodaj.jpg);
	            background-repeat: no-repeat;
	            background-size: cover;
	            background-attachment: fixed;
            }
    </style>
</head>
<body>
    
    <div style="float: center;   padding: 35px 0px 0px 80px; ">
      
        <h1>Resultado {{ porcentaje }} %</h1>
        <h2>La imagen ingresada es una :  {{ fruta }}</h2>
        <br>

        <br><br>
        <a style="color: blue; font-size: 40px" href="frutas.html">Regresar</a>

    </div>




</body>
</html>